<?xml version="1.0" encoding="UTF-8" standalone="no"?><eyesiomoSettings><kNeighbours>25</kNeighbours><stWidth>480</stWidth><stHeight>320</stHeight><imageBankPath>/home/egorchnegov/MyProgs/workspace/Eyesimo/image-bank</imageBankPath><charsBankPath>/home/egorchnegov/MyProgs/workspace/Eyesimo/characteristics-bank</charsBankPath><backupsBankPath>/home/egorchnegov/MyProgs/workspace/Eyesimo/backups-bank</backupsBankPath></eyesiomoSettings>
